
.footer {
    text-align: center;
    font-size: 20pt;
    font-family: 'Quantum-artdesign';
    text-transform: lowercase;
   
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.minicup-footer{
    height: auto;
}

.footer a:link {
    text-decoration: none;
    color: var(--color-green);
}

.footer a:visited{
    text-decoration: none;
    color: var(--color-brown);
}
.footer a:hover {
    border-radius: 6px;
    box-sizing: border-box;
    background-color: var(--color-green);
    color: white;
}

#mc_embed_signup .button {
    text-transform: lowercase !important; 
    font-size: 14pt !important; 
    font-weight: bolder !important; 
    font-family: 'Opificio-Regular-Rounded' !important;
    background-color: var(--color-green) !important;
    -webkit-appearance: none;
}

#mc_embed_signup .button:hover {
    background-color: var(--color-pink) !important;
    -webkit-appearance: none;
}

@media (min-width: 1px) {
    .footer {
        max-width: 300px;
    }
    .footer .find-us-on{
        margin-top: 8px;
        margin-bottom: 12px;
    }
    .footer a {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 8px;
        margin-left: 4px;
        margin-right: 4px;
        display: block;
    }
    .minicup-footer {
        max-width: 20px;
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (min-width: 600px) {
    .footer {
        max-width: 500px;
    }
    
    .footer .find-us-on{
        margin-bottom: 4px;
    }
    .footer a {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 10px;
        display:inline-flex;
        margin-top: 12px;

    }
    .footer i {
        margin-right:10px;
        margin-top: 8px;
    }
    .minicup-footer {
        max-width: 30px;
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 1024px) {
    .footer {
        max-width: 700px;
    }
}