.gallery {
    background-color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.galleryimg {
    max-width: 100%;
    height: auto;
    border-radius: 16px;

}
.product-box {
    display: block;
    text-align: right;
}

.item-title {
    color: var(--color-pink);
    font-weight: bolder;
}

.item-desc {
    display: block;
    padding-top:8px;
    padding-right: 12px;
    line-height: 1.35;
}

@media (min-width: 1px) {
    .gallery {
        display: block;
        max-width: 400px;
        padding: 20px;
        padding-bottom: 4px;
    }
    .product-box {
        margin-bottom: 32px;
    }
}

@media (min-width: 600px) {
    .gallery {
        max-width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        padding: 24px;
    }
    .product-box {
        margin-bottom: 0px;
    }

}
@media (min-width: 1024px) {
    .gallery {
        max-width: 1100px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}