:root {
    /* Colours */
    --color-blue: rgb(131, 210, 221);
    --color-green: rgb(38, 171, 149);
    --color-pink: rgb(205, 91, 163);
    --color-lpink: rgb(235, 182, 215);
    --color-brown: rgb(85, 57, 20);
    --color-offwhite: rgb(250, 243, 227);

}
